<div>
  <h1>Task</h1>
  <button type="button" class="btn btn-primary"(click)="openModal()">Novo +</button>
</div>
<div class="card" *ngFor="let task of tasks">
  <ul class="list-group list-group-flush" >
    <div  class="card-header">
      <h5>{{task.title}}</h5>
    </div>
    <li class="list-group-item">
      <h6>Descrição:</h6>
      <p>{{task.description}}</p>
      <button type="button" class="btn btn-success" (click)="onEdit(task)">Editar</button>
      <button type="button" class="btn btn-danger" (click)="onDelete(task.id)">Deletar</button>
    </li>
  </ul>
</div>

