<header>
  <h1>Task</h1>
  <h3>{{dateTime | date:"dd/MM/yy"}}</h3>
  <button type="button" class="btn btn-success" (click)="openModal()">Novo +</button>
</header>
<app-calendar (dateEvent)="dateFromCalendar($event)" [tasks]="taskToMark"></app-calendar>
<div class="card" *ngFor="let task of tasks">
  <div class="card-header">
    <h5>{{task.title}}</h5>
    <div>
      <input type="checkbox" id="status" class="form-check-input" (click)="statusTask(task)" [(ngModel)]="task.isCompleted">
      <label for="status" class="form-check-label ">{{task.isCompleted == true ? 'Feito' : 'Não Feito'}}</label>
    </div>
  </div>
  <div class="card-body">
    <h6 class="card-title">Descrição:</h6>
    <p class="card-text">{{task.description}}</p>
    <button type="button" class="btn btn-warning" (click)="onEdit(task)">Editar</button>
    <button type="button" class="btn btn-danger" (click)="onDelete(task.id)">Deletar</button>
  </div>
  <div class="card-footer text-muted">
      {{task.date | date:'dd/MM/yy'}}
  </div>
</div>

