header {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  margin: auto;
  padding-bottom: 1rem;
  border-bottom: 4px solid greenyellow;
  border-radius: 20px;
}

.date-div {
  width: 50rem;
  margin: auto;
}

.date-button {
  margin-top: 1rem;
  border: none;
  background-color: white;
  font-weight: 400;
  font-size: large;
  transition: font-size 1s, color 1s;
}

.date-button:hover {
  color:rgb(104, 102, 102);
  font-size: larger;
}

.card {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 40rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
}


.card-text {
  display: block;
  margin-top: 0;
}

.card-title {
  margin-bottom: 0;
}

.card-body button {
  margin-right: 1rem;
}

.card-footer {
  text-align: center;
}
